header {
	background-image: none!important;
	background-color: #1a1a1a;
}
header:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	filter: opacity(0.6);
	-webkit-filter: opacity(.6);
	background-image: url('../img/headerimage.jpg')!important;
	background-size: 100% 100%;
}
main {
	overflow: hidden;
	padding: 1%;
}
h2 {
	float: left;
	margin: 10px;
	margin-left: 15%;
}
.whaty {
	width: 55%;
}
.whaty, .howy {
	float: left;
}
.howy {
	width: 45%;
}
.whaty h2, .howy h2 {
	text-align: center;
	width: 100%;
	float: left;
	margin: 0;
	margin-bottom: 4%;
}
#img {
	background-image: url('../img/transparent.png');
	background-repeat: no-repeat;
	background-size: 250% 250%;
	background-position: center;
	width: 200px;
	height: 100px;
	margin-left: 0%;
	float: left;
	clear: left;
}
.whaty p {
	float: left;
	width: 65%;
	margin-left: 2%;
}
p {
	float: left;
}
main ul {
	float: left;
	width: 100%;
}
h1 {
	width: 100%;
	clear: both;
	text-align: center;
}
section {
	border: 1px solid black;
	margin: 2%;
	overflow: hidden;
	padding: 1%;
}
section div {
	width: 33%;
	float: left;
	padding: 1%;
}
.circle {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 65%;
	height: 33vh;
	float: left;
	border-radius: 100%;
	margin-left: 15%;
	margin-bottom: 1%;
}
.one {
	background-image: url('../img/fresno.JPG');
}
.two {
	background-image: url('../img/clothes.jpeg');
}
.three {
	background-image: url('../img/houses.jpg');
}
.info{
	border:none;
}
.info h2{
	width: 100%;
    position: relative;
    float: left;
    margin: 0;
    text-align: center;
    padding-bottom:2%;
}
.info hr{
	border: 1px solid black;
	border-top:none;
    position: relative;
    float: left;
    width: 100%;
}
main table{
	margin-top:2%;
}
main table th{
	text-align:center;
	font-size:1.4vw;
}
main table tr th{
	border:1px solid black;
}
main table td{
	width:2%;
	height:10vh;
	text-align:center;
	border:1px solid rgba(0,0,0,.3);
	font-size:1.2vw;
}
.green{
	color:#339966;
}

/**************************IPHONE5********************************/

@media screen and (max-width:350px) {}

/***************************THIS IS FOR MOBILE*****************************/

@media screen and (min-width:250px) and (max-width:700px) {
	header:before {
		background-size: 200% 100%;
	}
	.whaty, .howy {
		width: 100%;
	}
	#img {
		width: 90%;
		height: 150px;
		margin-left: 8%;
		margin-bottom: 0%;
	}
	.whaty p {
		float: left;
		width: 97%;
		margin-left: 2%;
	}
	main ul {
		float: left;
		width: 100%;
	}
	section div {
		width: 100%;
	}
	.circle {
		width: 80%;
		margin-left: 10%;
		padding: 38% 0;
	}
	section div p {
		text-align: center;
	}
	main table th{
		padding:0 2%;
	}
	.info{
		overflow-x:scroll;
	}
}

/*****************************IPAD**********************************/

@media screen and (min-width:760px) and (max-width:1100px) {
	.circle {
		margin-left: 0;
		width: 100%;
	}
	#img {
		margin-left: 25%;
	}
	.whaty p {
		margin-left: 15%;
		width: 80%;
	}
}

/*****************************DESKTOP**********************************/

@media screen and (min-width:1900px) {
	.circle {
		height: 35vh;
	}
}
