header {
	height: 0!important;
	padding-bottom: 0!important;
}
main {
	padding-top: 25vh;
}
.nav {
	background-color: #1a1a1a;
}
#product {
	background-image: url('../img/holiday.jpeg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 450px;
	height: 300px;
	float: left;
	margin: 2%;
}
#description {
	width: 50%;
	float: right;
}
#description h3, #description p, #description div {
	clear: right;
}
#description div h3 {
	float: left;
	border: 2px solid black;
}
.submit {
	border: none;
	background-color: #d9d9d9;
	color: white;
	padding: 2% 5%;
	font-size: 16px;
	margin-top: 2%;
}
.submit:hover {
	box-shadow: #decda1 1px 1px 5px 8px;
}