@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px!important;
    height: 9px!important;
}

::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    box-shadow: inset 0 0 0 2px #1a1a1a!important;
    background: #b3b3b3!important;
}

::-webkit-scrollbar-track {
    -webkit-appearance: none;
    background: #1a1a1a!important;
}

*{
    transition:.3s ease-in-out!important;
}

body{
    margin:0;
    font-family:'Ubuntu', sans-serif;
}

a{
    text-decoration:none;
    color:inherit;
}

a:hover,a:active{
    color:inherit;
    text-decoration: none;
}

p{
    font-weight:300;
}

.nav.scrolled {
    background-color: #1a1a1a !important;
    transition: background-color 1s ease-in-out !important;
}

.nav.scrolled .nav-link {
    color:#fff;
}

.bar1.scrolled, .bar2.scrolled, .bar3.scrolled{
    background-color: #1a1a1a !important;
    transition: background-color 1s ease-in-out !important;
}

header{
    height:100vh;
    padding-bottom: 50vh;
    overflow:hidden;
    background-image:url('https://images.pexels.com/photos/5842/people-vintage-photo-memories.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
    position: relative;
}

.header{
    height:15vh;
    width:100%;
    bottom:0;
    position:absolute;
}

nav{
    top:0;
    position:fixed;
    padding-left:2%;
    width:100%;
    text-transform: uppercase;
    z-index:1000;
}

nav a:hover{
    color:#ccc;
}

nav ul{
    list-style-type:none;
}

nav ul li{
    float:left;
    color:white;
    padding:5% 3%;
    font-size:22px;
}

.link{
    padding-top:45px;
}

.container {
    display: none;
    cursor: pointer;
    z-index:10000;
    position: fixed;
    width:auto!important;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f2f2f2;
    margin: 6px 0;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color:#f2f2f2!important;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color:#f2f2f2!important;
}

#logo{
    width:175px;
    height:55px;
    background-image:url('../img/chronicle.jpeg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}


@font-face{
    font-family:chronicle;
    src:url(../monohypster/monohipster.ttf);
}

/**************************IPHONE5********************************/
@media screen and (max-width:350px) {
    
}

/***************************THIS IS FOR MOBILE*****************************/
@media screen and (min-width:250px) and (max-width:700px) {
    header{
        height:90vh;
    }
    
    .nav.scrolled,.nav,nav{
        opacity: 0;
        transition:1s ease-in-out!important;
    }
    
    nav ul{
        padding-left:1%;
    }
    
    nav ul li{
        padding:2.5% 3%;
    }
    
    .link{
        margin-left:15%;
        margin-right:15%;
        padding-top:0;
        width:100%;
    }
    
    .open{
        opacity:1!important;
    }
    
    .container{
        display: inline-block;
        top:10vh;
        right:2%;
    }
}

/*****************************IPAD**********************************/
@media screen and (min-width:760px) and (max-width:1100px) {
    
}
