body{
  margin:0;
}

.smcx-embed, .smcx-embed>.smcx-iframe-container{
  max-width:100%!important;
  height:100vh!important;
}

.page-title-container.clearfix {
    height: 0;
    padding: 0!important;
    overflow: hidden;
}
