*{
  transition:.1s ease-in-out!important;
}

body{
  height:100vh;
  margin:0;
}

.smcx-embed{
  border:none!important;
}

.smcx-embed, .smcx-embed>.smcx-iframe-container{
  max-width:100%!important;
  height:100vh!important;
}

a:last-of-type{
  display:none;
}
